/* header styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.head {
  height: 6rem;
  background-color: #3c3a39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.navigation {
  gap: 14rem;
}

.mobile-icon {
  gap: 13rem;
}

.time {
  width: 34px;
  height: 16px;
}

.phone-network {
  gap: 0.5rem;
}

.phone-network img {
  width: 18px;
  height: 12px;
}
