@media only screen and (min-width: 768px) {
  .head {
    justify-content: space-between;
  }

  .head-nav {
    width: 20rem;
    justify-content: left;
    align-items: center;
    gap: 2rem;
  }

  .navigation img {
    display: none;
  }

  .navBar {
    padding: 0 12rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navBar a {
    text-decoration: none;
    color: #fff;
  }

  .mail {
    width: 24px;
    height: 24px;
  }

  .headline {
    max-width: 70rem;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 4rem;
    padding-top: 2rem;
    margin-left: 3rem;
  }

  .primary-head {
    width: 25rem;
    height: 11rem;
    font-family: "Crete Round", serif;
    font-size: 72px;
    line-height: 82px;
  }

  .primary-head h1 {
    display: flex;
    flex-direction: column;
  }

  .secondary-head {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
  }

  .about-text {
    font-family: "Inter", sans-serif;
    font-size: calc(8px + (24 - 16) * (100vw - 50px) / (900));
    line-height: 32px;
    max-width: 35rem;
    width: 100%;
  }

  .share {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 3rem;
    margin-top: 7rem;
  }

  .illustration-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45rem;
    height: 100vh;
    background-image: url("/src/assets/imgs/Illustration-header@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom -100px right 2px;
  }

  .menu {
    display: none;
  }

  /* My recent work page style */

  .works-section {
    align-items: center;
  }

  .primary-work-head {
    /* background-color: #091e42; */
    height: 8rem;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0 4rem 11rem;
  }

  .primary-work-head h2 {
    width: 327px;
    height: 83px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .line {
    width: 1170px;
    border-bottom: 1px solid #212121;
    margin-bottom: 1.5rem;
  }

  .multi-post {
    height: 100%;
    justify-content: start;
    align-items: start;
  }

  .container {
    justify-content: start;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 550px;
    grid-column: 1/-1;
  }

  .set-grid {
    grid-template-columns: repeat(3, 488px);
    justify-items: start;
    align-items: start;
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 0 11rem 0 11rem;
  }

  .placeholder-img {
    width: 868px;
    height: 548px;
    gap: 2rem;
    background-image: url("/src/assets/imgs/Placeholderdesktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .placeholder-img img {
    width: 100%;
    height: auto;
  }

  .third-head {
    text-align: left;
    margin: 0;
    width: 327px;
    height: 36px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 2rem;
    color: #091e42;
  }

  .daily-post-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    max-width: 28rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .skills-lan {
    list-style: none;
    gap: 0.5rem;
    width: 20rem;
    justify-content: start;
    align-items: center;
  }

  .skills-lan a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding: 0.4rem 0.7rem;
    border: 1px solid #8993a4;
  }

  .btn {
    width: 20rem;
    margin: 1.2rem 0 2rem 0;
  }

  .post-btn {
    padding: 0.8rem 1rem;
  }

  .project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
    background-color: #ff6b00;
  }

  .see-project {
    height: 550px;

    /* width: 400px; */

    position: relative;
    background-image: url("/src/assets/imgs/bg-mobile-see.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: start;
    background-color: orangered;
  }
}
