@media only screen and (min-width: 768px) {
  .head {
    justify-content: space-between;
  }

  .head-nav {
    width: 20rem;
    justify-content: left;
    align-items: center;
    gap: 2rem;
  }

  .navigation img {
    display: none;
  }

  .navBar {
    padding: 0 14rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navBar a {
    text-decoration: none;
    color: #fff;
  }

  .mail {
    width: 24px;
    height: 24px;
  }

  .headline {
    max-width: 70rem;
    width: 100%;
    flex-direction: row-reverse;
    gap: 1rem;
    padding-top: 2rem;
    margin-left: 3rem;
  }

  .primary-head {
    width: 50rem;
    height: 15rem;
    gap: calc((24 - 16) * (100vw - 100px) / (800 - 300));
    font-size: calc(16px + (24 - 16) * (100vw - 50px) / (800 - 600));
    line-height: 82px;
    padding: 2rem 0 1rem 0;
  }

  .secondary-head {
    font-family: "Inter", sans-serif;
    font-size: calc(16px + (24 - 16) * (100vw - 50px) / (800 - 300));
    font-weight: 500;
    line-height: 44px;
    margin-top: calc((24 - 16) * (100vw - 100px) / (800 - 200));
  }

  .about-text {
    font-family: "Inter", sans-serif;
    font-size: calc(8px + (24 - 16) * (100vw - 50px) / (900));
    line-height: 32px;
    max-width: 35rem;
    width: 100%;
  }

  .share {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 3rem;
    margin-top: 7rem;
  }

  .illustration-container {
    justify-content: end;
    max-width: 60rem;
    min-width: 30rem;
    width: 100%;
    margin-left: auto;
  }

  .illustration-2 {
    padding: 3rem 0 0 0;
    width: calc(200px + (34 - 16) * (100vw - 100px) / (70));
    height: auto;
    position: fixed;
    top: 3%;
    right: 0;
  }

  .illustration-1 {
    display: none;
  }

  .menu {
    display: none;
  }
}
